/**
 * bbPress specific styles.
 *
 * @package WP_Community_Theme
 * @since   1.0
 */
#bbpress-forums {
  font-size: 14px;
}
#bbpress-forums .avatar {
  border-radius: 2px;
  margin-top: -1px;
}

.bbp-forums,
.forum-titles,
.bbp-body .forum,
.bbp-body .topic,
.bbp-forums-list,
.bbp-topics {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main article .bbp-forums li, #main article
.forum-titles li, #main article
.bbp-body .forum li, #main article
.bbp-body .topic li, #main article
.bbp-forums-list li, #main article
.bbp-topics li {
  margin: 0;
  padding: 0;
}

.bbp-search-form {
  overflow: hidden;
}
.bbp-search-form form {
  float: right;
  padding: 10px;
  width: 200px;
}

.bbp-breadcrumb {
  border-bottom: 1px solid #E7E7E7;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -15px;
  padding-bottom: 15px;
}

.bbp-template-notice {
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#subscription-toggle {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
}
#subscription-toggle span {
  display: block;
  float: right;
}

.forum-titles {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 20px;
}
.forum-titles li {
  float: left;
}
.forum-titles li.bbp-forum-info {
  width: 70%;
}
.forum-titles li.bbp-forum-topic-count, .forum-titles li.bbp-forum-reply-count {
  text-align: center;
  width: 10%;
}
.forum-titles li.bbp-forum-freshness {
  text-align: center;
  width: 10%;
}

.bbp-body .forum {
  border-top: 1px solid #E7E7E7;
  font-size: 14px;
  overflow: hidden;
  padding: 20px;
}
.bbp-body .forum li {
  float: left;
}
#main article .bbp-body .forum li.bbp-forum-info {
  padding-right: 15px;
  width: 70%;
}
#main article .bbp-body .forum li.bbp-forum-info .bbp-forum-title {
  color: #767676;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
#main article .bbp-body .forum li.bbp-forum-info .bbp-forum-link {
  margin-right: 15px;
}
.bbp-body .forum li.bbp-forum-topic-count, .bbp-body .forum li.bbp-forum-reply-count {
  text-align: center;
  width: 10%;
}
.bbp-body .forum li.bbp-forum-freshness {
  text-align: center;
  width: 10%;
}

.bbp-topics {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 14px;
}
.bbp-topics .bbp-header {
  background-color: #F7F7F7;
}
.bbp-topics .forum-titles {
  margin-bottom: 0;
  padding: 5px 20px;
}
.bbp-topics .topic {
  border-top: 1px solid #E7E7E7;
  font-size: 12px;
  overflow: hidden;
  padding: 10px 20px;
}
.bbp-topics .topic li {
  float: left;
  line-height: 20px;
}
.bbp-topics .bbp-topic-title {
  width: 65%;
}
.bbp-topics .bbp-topic-voice-count,
.bbp-topics .bbp-topic-reply-count,
.bbp-topics .bbp-topic-freshness {
  text-align: center;
}
.bbp-topics .bbp-topic-voice-count,
.bbp-topics .bbp-topic-reply-count {
  width: 10%;
}
.bbp-topics .bbp-topic-freshness {
  width: 15%;
}
.bbp-topics .bbp-topic-permalink {
  color: #767676;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.bbp-topics .bbp-topic-meta {
  overflow: hidden;
}
.bbp-topics .bbp-topic-pagination {
  float: right;
}

.bbp-body,
.bbp-replies {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bbp-body li,
.bbp-replies li {
  margin: 0;
  padding: 0;
}

.bbp-replies > .bbp-header {
  overflow: hidden;
}
.bbp-replies > .bbp-header .bbp-reply-content {
  font-size: 13px;
  float: right;
}
.bbp-replies > .bbp-header .bbp-reply-content a {
  margin-left: 15px;
}
.bbp-replies > .bbp-header .bbp-reply-content span {
  float: right;
}
.bbp-replies > .bbp-header .bbp-reply-content span#subscription-toggle {
  margin-bottom: 0;
}

.bbp-reply {
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}
.bbp-reply blockquote {
  font-size: 14px;
}
.bbp-reply .bbp-reply-author {
  float: left;
  margin-right: 20px;
  width: 50px;
}
.bbp-reply .bbp-reply-author .bbp-author-avatar img {
  border-radius: 2px;
}
.bbp-reply .bbp-reply-author .bbp-author-name {
  display: none;
}
.bbp-reply .bbp-reply-content {
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  float: left;
  padding: 15px;
  width: calc(100% - 70px );
}
.bbp-reply .bbp-admin-links a {
  margin-left: 20px;
}

.bbp-reply-header {
  background-color: #F7F7F7;
  border-bottom: 1px solid #ededed;
  border-radius: 2px 2px 0 0;
  margin: -15px -15px 15px;
  padding: 5px 15px;
}

.bbp-reply-footer {
  float: right;
  margin: 10px 0 -5px;
}

.bbp-pagination {
  display: none;
  margin-bottom: 20px;
  margin-left: 75px;
  overflow: hidden;
}
.forums + .bbp-pagination {
  display: block;
}
.bbp-pagination .bbp-pagination-count {
  float: left;
}
.bbp-pagination .bbp-pagination-links {
  float: right;
}

.bbp-topic-form {
  margin-top: 20px;
}

.bbp-reply-form,
.bbp-topic-form {
  overflow: hidden;
}
.bbp-reply-form .current-user,
.bbp-topic-form .current-user {
  float: left;
  margin-right: 25px;
  width: 50px;
}
.bbp-reply-form form,
.bbp-topic-form form {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  float: left;
  padding: 15px;
  width: calc(100% - 75px );
}
.bbp-reply-form form .bbp-form-header,
.bbp-topic-form form .bbp-form-header {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EDEDED;
  font-size: 16px;
  margin: -15px -15px 15px;
  padding: 5px 15px;
}
.bbp-reply-form form .wp-editor-container,
.bbp-topic-form form .wp-editor-container {
  border: 1px solid #e7e7e7;
}
.bbp-reply-form form .submit,
.bbp-topic-form form .submit {
  float: right;
}

/* User profile */
#bbp-user-wrapper {
  margin-top: 20px;
  overflow: hidden;
}
#bbp-user-wrapper #bbp-single-user-details {
  float: left;
  margin-right: 25px;
  width: 150px;
}
#bbp-user-wrapper #bbp-user-body {
  float: left;
  width: calc(100% - 175px );
}
#bbp-user-wrapper #bbp-user-body .entry-title {
  margin-top: 0;
}
#bbp-user-wrapper #bbp-user-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bbp-user-wrapper #bbp-user-navigation ul li {
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  padding: 5px 15px;
}
#bbp-user-wrapper #bbp-user-navigation ul li:last-child {
  border-bottom: none;
}

.bbp-forum-info .bbp-row-actions > span#subscription-toggle, .bbp-forum-info .bbp-row-actions > span#favorite-toggle,
.bbp-topic-title .bbp-row-actions > span#subscription-toggle,
.bbp-topic-title .bbp-row-actions > span#favorite-toggle {
  float: left;
  margin: 0 5px 0 0;
}

#bbp-user-wrapper .bbp-form {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 50px;
  position: relative;
}
#bbp-user-wrapper .bbp-form legend {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ededed;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin: -50px 0 0;
  padding: 5px 15px;
  position: absolute;
  width: 100%;
}
#bbp-user-wrapper .bbp-form div {
  padding: 0 15px;
}
