@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,latin-ext);
/**
 * This stylesheet will manage all font-related styles.
 *
 * @package WP_Community_Theme
 * @since   1.0
 */
/* =============================================================================
   Definitions
   ========================================================================== */
@font-face {
  font-family: 'Genericons';
  src: url("../fonts/genericons/font/genericons-regular-webfont.eot");
  src: url("../fonts/genericons/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genericons/font/genericons-regular-webfont.woff") format("woff"), url("../fonts/genericons/font/genericons-regular-webfont.ttf") format("truetype"), url("../fonts/genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Genericons';
    src: url("../fonts/genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg");
  }
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-slab/RobotoSlab-Regular-webfont.svg#Roboto-Slab-Regular") format("svg");
  }
}
body {
  font-size: 15px;
  line-height: 28px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* =============================================================================
   General
   ========================================================================== */
blockquote {
  font-size: 15px;
}

code {
  font-size: 13px;
}

/* =============================================================================
   Header
   ========================================================================== */
.site-branding h1, .site-branding h2 {
  font-family: 'Roboto Slab', serif;
}
.site-branding h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 28px;
}
.landing-page .site-branding h1.site-title {
  font-size: 24px;
  line-height: 42px;
}
.site-branding h1 a:hover, .site-branding h1 a:focus, .site-branding h1 a:active {
  text-decoration: none;
}
.site-branding h2 {
  font-size: 18px;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Roboto Slab', sans-serif;
}

.landing-page-header .page-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 28px;
}
.landing-page-header .page-excerpt {
  font-size: 18px;
}

/* =============================================================================
   Content
   ========================================================================== */
.page-title {
  font-size: 28px;
}

.page-header h1 {
  font-family: 'Roboto Slab', serif;
}

#main article h1, #main article h2, #main article h3, #main article h4,
#tinymce.wp-editor h1,
#tinymce.wp-editor h2,
#tinymce.wp-editor h3,
#tinymce.wp-editor h4 {
  font-family: 'Roboto Slab', serif;
}
#main article header h1,
#tinymce.wp-editor header h1 {
  font-weight: normal;
  font-size: 32px;
}
#main article header h1 a:hover,
#tinymce.wp-editor header h1 a:hover {
  text-decoration: none;
}
#main article .entry-summary,
#tinymce.wp-editor .entry-summary {
  font-size: 18px;
}

.entry-meta section {
  font-size: 14px;
}

.format-aside .entry-content {
  font-size: 20px;
}

.format-status .entry-content {
  font-size: 20px;
}

.format-link .entry-content {
  font-size: 20px;
}

.wp-caption-text,
.wp-caption-dd {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.carousel-caption {
  font-family: 'Lato', sans-serif;
}
.carousel-caption h1 a,
.carousel-caption h2 a,
.carousel-caption h3 a,
.carousel-caption h4 a,
.carousel-caption h5 a,
.carousel-caption h6 a {
  font-family: 'Roboto Slab', serif;
}

/* =============================================================================
   Footer and sidebar
   ========================================================================== */
#secondary .widget .widget-title,
#footer .widget .widget-title {
  font-family: 'Roboto Slab', serif;
  font-size: 21px;
}

/* =============================================================================
   Comments
   ========================================================================== */
#comments h1, #comments h2, #comments h3, #comments h4 {
  font-family: 'Roboto Slab', serif;
}
#comments .comments-title {
  font-size: 28px;
}
#comments #reply-title {
  font-size: 28px;
}

.comment-author,
.comment-metadata {
  line-height: 60px;
}

.comment-author {
  font-family: 'Roboto Slab', serif;
  font-size: 21px;
}

.form-allowed-tags code {
  white-space: normal;
}

/* =============================================================================
   Gravatar profile (Jetpack)
   ========================================================================== */
#secondary .widget-grofile.widget h4:not(.widget-title) {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
}
#footer .widget-grofile.widget h4:not(.widget-title) {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
}

/* =============================================================================
   Support for Suscription (via Jetpack)
   ========================================================================== */
.widget.jetpack_subscription_widget form {
  font-size: 13px;
  line-height: 24px;
}

/* =============================================================================
   Support for Related Posts (via Jetpack)
   ========================================================================== */
div.jp-relatedposts .jp-relatedposts-headline {
  font-size: 22px;
}
